body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-family: "Montserrat", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 500px;
}
.books,
.formsContainer {
  width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.books {
  position: relative;
  background-image: url("./assets/library.jpg"); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
  background-size: cover; /* Redimensiona a imagem para cobrir todo o container */
  color: white; /* Define a cor do texto para ser legível na imagem de fundo */

  /* Adiciona uma sombra interna para escurecer a imagem de fundo */
  box-shadow: inset 0 0 0 1000px rgba(36, 123, 160, 0.6);
  text-align: center;
}
.books::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Cor da sombra transparente */
}
.books h1 {
  position: relative; /* Garante que o h1 não fique sob a sombra */
  z-index: 1; /* Coloca o h1 acima da sombra */
  margin: 0; /* Pode ser necessário ajustar a margem para posicionar o h1 como desejado */
  font-size: 4rem;
}
form input {
  width: 600px;
}
.loading-overlay {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
