body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  padding: 20px;
  height: 100%;
}
header {
  background-color: #184e77;
}
.iconNav {
  width: 64px;
  height: 64px;
}
.iconesAcao {
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.iconesAcao:hover {
  cursor: pointer;
}
.editar {
  background-color: green;
}
.remover {
  background-color: rgb(174, 9, 9);
}
