body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
}
.iconNav {
  max-width: 60px;
  max-height: 60px;
}
nav {
  background-color: #4ea5d9;
}
.avatar {
  max-width: 50px;
  max-height: 50px;
}
.avatar:hover {
  cursor: pointer;
}
.listaNav li a {
  color: aliceblue;
  font-weight: bold;
  margin-left: 10px;
}
.avatar-options {
  display: none;
  position: absolute;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  list-style: none; /* Remove as marcações de lista */
  padding: 5px 10px; /* Remove o espaçamento interno padrão das listas */
  right: 0px;
}

.options a:hover {
  background-color: #f0f0f0; /* Adiciona um efeito de hover ao fundo dos links */
}
.options a {
  text-decoration: none;
  color: grey; /* Define a cor do texto dos links */
  display: block;
  padding: 5px 20px;
  transition: background-color 0.2s;
  border-bottom: 1px solid grey;
}
.menuContainer {
  position: relative;
}
.nav-link:hover,
.iconNav:hover,
.avatar:hover,
.botoes:hover {
  transform: scale(1.1); /* Aumenta em 10% quando o mouse passa por cima */
  transition: transform 0.2s; /* Adiciona uma transição suave para a animação */
}
main,
.botoesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main {
  height: 80vh;
}
.botoesContainer {
  flex-wrap: wrap;
  height: 90vh;
  height: 500px;
  width: 700px;
}
.botoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 300px;
  max-width: 300px;
  min-height: 150px;
  max-height: 150px;
  padding: 20px;
  border-radius: 15px;
  margin-right: 50px;
}
.botoes:hover {
  cursor: pointer;
}
.livrosAtrasados {
  background-color: rgb(205, 98, 98);
}
.emprestimosAtivos {
  background-color: rgb(76, 146, 76);
}
.livrosCadastrados {
  background-color: #4ea5d9;
}
.todosOsEmprestimosJaFeitos {
  background-color: #f3f37a;
}
.imgCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textCard {
  color: white;
}
.cardAmarelo {
  color: black;
}
