body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
}
.iconNav {
  max-width: 60px;
  max-height: 60px;
}
nav {
  background-color: #4ea5d9;
}
.avatar {
  max-width: 50px;
  max-height: 50px;
}
.avatar:hover {
  cursor: pointer;
}
.listaNav li a {
  color: aliceblue;
  font-weight: bold;
  margin-left: 10px;
}
.avatar-options {
  display: none;
  position: absolute;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  list-style: none; /* Remove as marcações de lista */
  padding: 5px 10px; /* Remove o espaçamento interno padrão das listas */
  right: 0px;
}

.options a:hover {
  background-color: #f0f0f0; /* Adiciona um efeito de hover ao fundo dos links */
}
.options a {
  text-decoration: none;
  color: grey; /* Define a cor do texto dos links */
  display: block;
  padding: 5px 20px;
  transition: background-color 0.2s;
  border-bottom: 1px solid grey;
}
.menuContainer {
  position: relative;
}
.nav-link:hover,
.iconNav:hover,
.avatar:hover,
.ativos:hover,
.livrosCadastrados:hover {
  transform: scale(1.1); /* Aumenta em 10% quando o mouse passa por cima */
  transition: transform 0.2s; /* Adiciona uma transição suave para a animação */
}
main {
  padding: 20px 10px;
  height: calc(90vh - var(--navHeight, 0px));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lista {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  min-height: 400px;
  max-height: 450px;
  overflow: auto;
  min-width: 380px;
  max-width: 380px;
  padding: 10px;
  border-radius: 15px;
  margin-left: 20px;
  background-color: #224870;
}
.headerLista {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.atrasado {
  background-color: #dd6d8c;
}
.cardEmprestimo:hover {
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
}
.cardsQuantitativos {
  min-height: 400px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ativos,
.livrosCadastrados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  min-height: 150px;
}
.ativos {
  background-color: rgb(60, 164, 60);
}
.livrosCadastrados {
  background-color: #3a71ac;
}
.textoCard {
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
}
.imgCardAtivo {
  display: flex;
  justify-content: center;
  align-items: center;
}
